body { 
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(0deg, rgba(93,255,67,1) 0%, rgba(192,192,192,1) 100%);
}

header {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(255,212,0,1) 0%, rgba(73,255,0,1) 100%);
}

.button {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    padding: 3px;
    font-style: italic;
}

.col1 {
    border-bottom: 2px solid rgb(130, 130, 180);
    border-right: 2px solid rgb(130, 130, 180);
    border-top: 2px solid rgb(210, 210, 255);
    border-left: 2px solid rgb(210, 210, 255);
    background-color: rgb(170, 170, 220);
}

.col2 {
    border-bottom: 2px solid rgb(169, 130, 180);
    border-right: 2px solid rgb(169, 130, 180);
    border-top: 2px solid rgb(250, 210, 255);
    border-left: 2px solid rgb(250, 210, 255);
    background-color: rgb(208, 170, 220);
}

.col3 {
    border-bottom: 2px solid rgb(180, 130, 156);
    border-right: 2px solid rgb(180, 130, 156);
    border-top: 2px solid rgb(255, 210, 239);
    border-left: 2px solid rgb(255, 210, 231);
    background-color: rgb(220, 170, 199);
}

.col4 {
    border-bottom: 2px solid rgb(180, 130, 130);
    border-right: 2px solid rgb(180, 130, 130);
    border-top: 2px solid rgb(255, 210, 210);
    border-left: 2px solid rgb(255, 210, 210);
    background-color: rgb(220, 170, 170);
}

hr {
    background-color: rgb(154, 154, 154);
    border-bottom: 1px solid rgb(238, 238, 238);
}

.adjust img {
    padding: 15px;
    width: 150px;
}